.application-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .application-header {
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  .application-details {
    padding: 10px;
    background-color: #fff;
  }
  